@import "modules/week-summary.scss";
@import "modules/navigation.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.about {
  &__description {
    margin: 0;
    font-size: 17px;
  }
  &__description--js {
    margin-top: 16px;
  }
  &__link {
    text-decoration: none;
  }
  &__picture {
    display: block;
    max-width: 100%;
  }
  &__grid {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 400px 1fr;
    }
  }
}

body {
  background: radial-gradient(
    circle,
    rgba(247, 242, 244, 1) 0%,
    rgba(25, 32, 40, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  color: white;
  background: #2b303a;
  max-width: 1000px;
  margin: 60px auto 0;
  &__link {
    color: #faa916;
  }
}

.main {
  max-width: 1000px;
  margin: 30px auto 0;
  &__picture {
    display: block;
    max-width: 100%;
  }
  &__header {
    color: rgb(37, 61, 141);
    padding-top: 30px;
  }
  &__heading {
    padding-top: 30px;
    color: rgb(37, 61, 141);
  }
}

.notes {
  margin-top: 30px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
  background: #fff;
}



.hamburger {
  position: absolute;
  right: 15px;
  top: 15px;
  @media (min-width: 768px) {
    display: none;
  }

  .table {
    width: 100%;
  }
}

.grid {
  display: block;
  @media (min-width: 768px) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  }
}