html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.about {
}

.about__description {
}

.about__heading {
}

.about__link {
}

.about__picture {
  display: block;
  max-width: 100%;
}
.main__picture {
  display: block;
  max-width: 100%;
}

body {
  background: radial-gradient(
    circle,
    rgba(247, 242, 244, 1) 0%,
    rgba(25, 32, 40, 1) 100%
  );
}

.footer {
  color: white;
  background: #2b303a;
  max-width: 1000px;
  margin: 60px auto;
}

.footer__link {
  color: #faa916;
}



.main {
  max-width: 1000px;
  margin: 30px auto 0;
}

.main__header {
  color: rgb(37, 61, 141);
  padding-top: 30px;
}

.main__heading {
  padding-top: 50px;
  color: rgb(37, 61, 141);
}

.notes {
}

.notes__heading {
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
  background: #fff;
}

.navigation {
  width: 100%;
  display: none;
  
}

.navigation--open {
  display: block;
}

.hamburger {
  position: absolute;
  right: 15px;
  top: 15px;
}

.navigation__link {
  color: rgb(31, 30, 30);
  margin: 0 60px 16px 2px;
  display: block;
  text-decoration: none;
}

.navigation__link--homepage {
  color: pink;
}

.table {
  width: 100%;
}

.week-summary {
  padding: 10px;
  border: 2px solid rgb(163, 153, 10);
  margin-bottom: 15px;
}

.week-summary--special {
  border: 5px solid rgb(134, 0, 0);
}

.week-summary__title {
  color: rgb(223, 58, 8);
}

.week-summary__description {
  color: rgb(185, 9, 9);
}

@media (min-width: 768px) {
  .navigation {
    background: rgb(136, 149, 179, 0.4);
    padding: 20px 30px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
  }
  .hamburger{
    display: none;
  }
}
